<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SDET Automation Suite" parallel="methods" thread-count="2">

    <test name="Login Tests">
        <classes>
            <class name="com.sdet.selenium.LoginTest"/>
        </classes>
    </test>

</suite>