<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SDET Automation Suite" parallel="classes" thread-count="2">

    <!-- Existing Login Tests -->
    <test name="Login Tests">
        <classes>
            <class name="com.sdet.selenium.LoginTest"/>
        </classes>
    </test>

    <!-- New Parallel Testing Module -->
    <test name="Parallel Environment Tests">
        <classes>
            <class name="com.sdet.parallel.ParallelLoginTest"/>
        </classes>
    </test>

</suite>